<% include header %>
<div class="container">
  <div class="wrapper col-md-offset-5 col-md-3">
    <form class="form-signin" action="/signin" method="post">       
      <h2 class="form-signin-heading">Please enter your assigned username</h2>
      <input type="text" class="form-control" name="user" placeholder="" required="" autofocus="" />      
      <button class="btn btn-primary" type="submit">Pick username</button>   
    </form>
  </div>
</div>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <% include footer %>